typings
TODO
tmp
test.sh
reports/
out/
Makefile
docker/*.Dockerfile
docker/*
data
check
**/*.pyc
**/*.egg-info/
**/__pycache__
*.bkp*
.vscode
.venv
.pytest_cache
.gitignore
.github
.git
.env*
.eggs
.dockerignore
.dockerignore
.coverage
docs/src/apidoc
