.*env/
*.egg-info/
*.pyc
typings/
.vscode/
*.jsonl
.eggs
assets*/
data/
**/*.log
.eggs/
.env
poetry.toml
dist/
docs/_build
docs/modules.rst
docs/pythia*.rst
.coverage*
reports/
.CURRENT_TAG
.bkp
trt-docker-export/
