certifi==2020.12.5; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
chardet==4.0.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
docutils==0.16; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
fire==0.4.0
idna==2.10; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
importlib-metadata==1.7.0; python_version < "3.8"
kivy @ git+https://github.com/pwoolvett/kivy.git@a285f9745ff70e56a70b7f2059f3994755112990 ; python_version >= "3.6"
kivy-garden==0.1.4; python_version >= "3.6"
pillow==8.1.0; python_version >= "3.6"
pycairo==1.20.0; python_version >= "3.6" and python_version < "4"
pyds-metadata-patch @ git+https://github.com/rmclabs-io/pyds_custom_parser.git@1.1.4 ; platform_machine == "aarch64"
pygments==2.8.0; python_version >= "3.6"
pygobject==3.38.0; python_version >= "3.5" and python_version < "4"
requests==2.25.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
six==1.15.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
termcolor==1.1.0
urllib3==1.26.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4" and python_version >= "3.6"
zipp==3.4.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "3.8" or python_full_version >= "3.5.0" and python_version < "3.8" and python_version >= "3.6"
